@using (Html.BeginForm("Search", "Complaint", FormMethod.Post))
{
    <fieldset>
        <legend>Filter</legend>
        <label class="k-form-field">
            <input name="TextBoxSearchData" class="k-textbox" placeholder="Search term" />
        </label>
        <button  button type="submit" class="k-button k-primary">Search</button>
    </fieldset>
}

<br/>
@using KendoMvcDemo.Core.ViewModels
@(Html.Kendo().Grid<KendoMvcDemo.Core.ViewModels.ComplaintViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Title);
          columns.Bound(c => c.WhatHappend);
          columns.Bound(p => p.Product).ClientTemplate("#if (Product !== null) {# #=Product.Name# #} else {# No Name #} #");
          columns.Bound(c => c.Company);
          columns.Bound(c => c.SentDate);
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          }).Width(250);
      })
      .ToolBar(toolbar => toolbar.Create())
      .Editable(editable => editable.Mode(GridEditMode.PopUp))
      .Pageable()
      .Sortable()
      .Scrollable()
      .HtmlAttributes(new { style = "height:600px;" })
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(10)
          .Events(events =>
          {
              events.Error("error_handler");
              events.Sync("sync_handler");
          })
                          .Model(model =>
                          {
                              model.Id(p => p.ComplaintId);
                              model.Field(x => x.Product).DefaultValue(new ProductViewModel());
                              model.Field(x => x.Company).DefaultValue("");
                          })
                      .Create(update => update.Action("EditingPopup_Create", "Complaint"))
                      .Read(read => read.Action("EditingPopup_Read", "Complaint"))
                      .Update(update => update.Action("EditingPopup_Update", "Complaint"))
                      .Destroy(update => update.Action("EditingPopup_Destroy", "Complaint"))
                      )
)
<script type="text/javascript">

    function sync_handler() {
        //alert('sync_handler');
        var grid = $('#grid').data('grid');
        grid.dataSource.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>